*~
*.pyc
*.swp
AnkiServer/AnkiServer.egg-info
AnkiServer/server.log
bootstrap.py
drupal/sites/*
!drupal/sites/all
!drupal/sites/default/default.settings.php
drupal/sites/all/modules/lingwo
drupal/sites/all/modules/lingwo_oss
drupal/sites/all/modules/lingwo_dictionary
drupal/sites/all/modules/lingwo-old
drushrc.php
