
#bibliobird-flashcards-flashcard {
  padding: 25px 0;
  font-size: 14pt;
}

#bibliobird-flashcards-flashcard-question {
  padding: 10px 0 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

#bibliobird-flashcards-flashcard-answer {
  visibility: hidden;
  padding: 10px 0;
}

#bibliobird-flashcards-ease-buttons {
  display: none;
  text-align: center;
}

#bibliobird-flashcards-show-answer {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #CCC;
}

#bibliobird-flashcards-finished {
  font-size: 20pt;
  margin: 10px 0;
}

.bibliobird-flashcards-count {
  color: blue;
  font-weight: bold;
}

#edit-learn-more,
#edit-review-early,
#edit-finish {
  display: block;
  width: 200px;
  text-align: center;
}

