
#bibliobird-flashcards-flashcard {
  margin: 10px;
  padding: 25px 10px;
  border: 1px solid black;
  background: white;
  font-size: 14pt;
}

#bibliobird-flashcards-flashcard-question {
}

#bibliobird-flashcards-flashcard-answer {
  visibility: hidden;
}

#bibliobird-flashcards-ease-buttons {
  visibility: hidden;
}

#bibliobird-flashcards-finished {
  font-size: 20pt;
  margin: 10px 0;
}

.bibliobird-flashcards-count {
  color: blue;
  font-weight: bold;
}

#edit-learn-more,
#edit-review-early,
#edit-finish {
  display: block;
  width: 200px;
  text-align: center;
}

