
#bibliobird-flashcards-study-options {
  margin: 20px 0;
}

.bibliobird-flashcards-study-options-normal {
  display: block;
}
.bibliobird-flashcards-study-options-cram {
  display: none;
}

#bibliobird-flashcards-flashcard {
  padding: 25px 0;
  font-size: 14pt;
}

#bibliobird-flashcards-flashcard-question,
#bibliobird-flashcards-flashcard-answer {
  padding: 10px 0 10px 0;
  min-height: 200px;
}

#bibliobird-flashcards-flashcard-answer {
  display: none;
}

#bibliobird-flashcards-ease-buttons {
  display: none;
  text-align: center;
}

#bibliobird-flashcards-show-answer {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #CCC;
}

#bibliobird-flashcards-finished {
  font-size: 20pt;
  margin: 10px 0;
}

.bibliobird-flashcards-count {
  color: blue;
  font-weight: bold;
}

#edit-learn-more,
#edit-review-early,
#edit-finish {
  display: block;
  width: 200px;
  text-align: center;
}

